#jobs {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: "Roboto; sans-serif", sans-serif;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: auto;
}

#jobs .title {
  font-size: 24px;
  align-self: center;
  margin: 17px 0 0 0;
  font-weight: bold;
  color: #5F9EA0;
}

.tableListContainer {
  display: flex;
  margin: 10px 20px;
}

.tableList {
  width: 100%;
}

.actionsButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 25px;
}

.actionButton {
  cursor: pointer;
  padding: 3px 12px;
  font-size: 15px;
  color: #406a6b;
  margin: 0 0 0 10px;
}

@media all and (max-width: 700px) {
  #jobs {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: "Roboto; sans-serif", sans-serif;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
  }

  #jobs .title {
    font-size: 24px;
    align-self: center;
    margin: 17px 0 0 0;
    font-weight: bold;
    color: #5F9EA0;
  }

}
