#jobs {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: "Roboto; sans-serif", sans-serif;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: auto;
}

#jobs .title {
  font-size: 24px;
  align-self: center;
  margin: 17px 0 0 0;
  font-weight: bold;
  color: #5F9EA0;
}

@media all and (max-width: 700px) {
  #jobs {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: "Roboto; sans-serif", sans-serif;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
  }

  #jobs .title {
    font-size: 24px;
    align-self: center;
    margin: 17px 0 0 0;
    font-weight: bold;
    color: #5F9EA0;
  }

}
