#jobs {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: "Roboto; sans-serif", sans-serif;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: auto;
}

#jobs .title {
  font-size: 24px;
  align-self: center;
  margin: 17px 0 0 0;
  font-weight: bold;
  color: #5F9EA0;
}

#jobs .inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 25px;
}

#jobs .jobNameLabel {
  font-size: 19px;
  margin-right: 7px;
}

#jobs .jobNameInput {
  flex-grow: 1;
}

#jobs .searchButton {
  flex-grow: 0;
  width: 49px;
  margin-left: 20px;
  cursor: pointer;
  color: #184C2E;
  border: 1px solid #3BA93E;
  background-color: #BDFFBF;
  font-size: 16px;
}

@media all and (max-width: 700px) {
  #jobs {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: "Roboto; sans-serif", sans-serif;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
  }

  #jobs .title {
    font-size: 24px;
    align-self: center;
    margin: 17px 0 0 0;
    font-weight: bold;
    color: #5F9EA0;
  }

  #jobs .inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 25px;
  }

  #jobs .jobNameLabel {
    font-size: 19px;
    margin-right: 7px;
  }

  #jobs .jobNameInput {
    flex-grow: 1;
  }

  #jobs .searchButton {
    flex-grow: 0;
    width: 49px;
    margin-left: 20px;
    cursor: pointer;
    color: #184C2E;
    border: 1px solid #3BA93E;
    background-color: #BDFFBF;
    font-size: 16px;
  }
}
