#inputField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 25px;
}

#inputField .label {
  font-size: 19px;
  margin-right: 7px;
}

#inputField .input {
  flex-grow: 1;
}
