pre {
  border-left: 1px dashed #EEEEEE;
  margin-left: 5px;
  padding-left: 10px;
}

pre code {
  font-family: 'Anonymous Pro', monospace;
  border-bottom: 1px dashed #D7D7D7;
}

th {
  background-color: rgba(176, 176, 176, 0.3);
  border: 1px solid rgba(176, 176, 176, 0.3);
  padding: 7px;
}

td {
  padding: 7px;
  border: 1px solid #DCDCDC;
}

img[src$='#emoji-img'] {
  width: 27px;
  vertical-align: bottom;
}

.userNameMe {
  color: #437B58;
}

.userNameOther {
  color: #4F58D8;
}

#bodyContainer {
  flex-direction: 'row';
  flex-grow: 1;
  font-size: 14px;
}

#editButton, #deleteButton {
  font-size: 12px;
  margin-left: 7px;
  cursor: pointer;
  text-decoration: underline;
  color: #777777;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

section.title {
  font-size: 24px;
  align-self: center;
  margin: 17px 0 0 0;
  font-weight: bold;
  color: #5F9EA0;
}

section.fields {
  font-size: 16px;
  margin: 23px 10% 67px 10%;
  border: 5px solid #D9CADC;
}

section.fields .fieldGroup {
  border: 3px solid #BDA4FB;
  padding: 20px;
  margin: 17px;
}

section.fields .fieldGroupTitle {
  font-size: 21px;
  margin: 0 0 15px 0;
  color: #7C5FC9;
  font-weight: bold;
}

section.fields .fieldContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #D9CADC;
}

.labelContainer {
  display: flex;
  flex-direction: row;
}

section.fields input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.7); /* IE */
  -moz-transform: scale(1.7); /* FF */
  -webkit-transform: scale(1.7); /* Safari and Chrome */
  -o-transform: scale(1.7); /* Opera */
  padding: 10px;
}

section.fields input[type=text] {
  text-align: right;
  font-size: 18px;
  width: 30px;
  padding-right: 10px;
  margin: 3px 0;
}

@media all and (max-width: 700px) {
  #bodyContainer {
    flex-direction: 'row';
    flex-grow: 1;
    font-size: 18px;
  }

  #editButton, #deleteButton {
    font-size: 18px;
    margin-left: 7px;
    cursor: pointer;
    text-decoration: underline;
    color: #777777;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .labelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.loader {
  height: 11px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #DDDDDD;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 11px;
  background-color: #2980B9;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

/*

agate.css
androidstudio.css
arduino-light.css
arta.css
ascetic.css
atelier-cave-dark.css
atelier-cave-light.css
atelier-dune-dark.css
atelier-dune-light.css
atelier-estuary-dark.css
atelier-estuary-light.css
atelier-forest-dark.css
atelier-forest-light.css
atelier-heath-dark.css
atelier-heath-light.css
atelier-lakeside-dark.css
atelier-lakeside-light.css
atelier-plateau-dark.css
atelier-plateau-light.css
atelier-savanna-dark.css
atelier-savanna-light.css
atelier-seaside-dark.css
atelier-seaside-light.css
atelier-sulphurpool-dark.css
atelier-sulphurpool-light.css
atom-one-dark.css
atom-one-light.css
brown-paper.css
codepen-embed.css
color-brewer.css
darcula.css
dark.css
darkula.css
default.css
docco.css
dracula.css
far.css
foundation.css
github-gist.css
github.css
googlecode.css
grayscale.css
gruvbox-dark.css
gruvbox-light.css
hopscotch.css
hybrid.css
idea.css
ir-black.css
kimbie.dark.css
kimbie.light.css
magula.css
mono-blue.css
monokai-sublime.css
monokai.css
obsidian.css
ocean.css
paraiso-dark.css
paraiso-light.css
pojoaque.css
pojoaque.jpg
purebasic.css
qtcreator_dark.css
qtcreator_light.css
railscasts.css
rainbow.css
school-book.css
solarized-dark.css
solarized-light.css
sunburst.css
tomorrow-night-blue.css
tomorrow-night-bright.css
tomorrow-night-eighties.css
tomorrow-night.css
tomorrow.css
vs.css
xcode.css
xt256.css
zenburn.css

 */


